<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <link rel="stylesheet" type="text/css" href="default.css">
      <title>イベント管理</title>
  </head>
  <body>
    <h1>イベント管理</h1>
    <h2>指定したidはすでに使われています</h2>
    <p>
      <a href="entry.erb">イベントデータの登録</a>|
      <a href="list.erb">イベントデータの表示</a>|
       <a href="index.html">メニュー画面に戻る</a>
    </p>
    <hr>
  </body>
</html>