<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="default.css">
    <title>イベント管理</title>
  </head>
  <body>
    <h1>イベント管理</h1>
    <h2>処理対象が選択されていません</h2>
    <p>イベントデータを選択してから実行してください|
      <a href="list.erb">イベントデータの表示</a>|
      <a href="index.html">メニュー画面に戻る</a>
    </p>
    <hr>
  </body>
</html>